@import '_variables.scss';

@import 'base/_card.scss';

body, html {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  @include font_headers_med;
  color: $color_white;
}

button {
  @include green_button;
  @include card_shadow(darken( $color_green, 15% ));
}

a {
  @include green_button;
  text-decoration: none;
}

.card {
  padding: 20px 15px;
  border-radius: 5px;

  @include card_shadow;
}

.info_card {
  margin: 10px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas: 
    "head"
    "content"
    "toolbar";
  background: $background_image;

  text-align: center;

  header {
    grid-area: head;
    color: #fff;
    display: flex;
    justify-content: center;

    h2 {
      width: max-content;
      padding: 5px 20px;
      border-top: 2px solid;
      margin: 10px;
      font-size: 2em;
      border-top: 2px solid $color_orange;
      border-bottom: 2px solid $color_orange;
    }
  }

  &__content {
    grid-area: content;
    padding: 0 19px;
    text-align: left;
  }

}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 25px;
  background: $color_black;
  padding: 20px 15px;
  //background: $color_black_transparent;
// box-shadow: 10px 10px 10px #000;
  @include card_shadow;

  header {
    align-self: stretch;
    color: #fff;

    h2 {
      margin: 10px;
      margin-left: 15px;
      font-size: 1.6em;
    }
  }
  &__content {
    padding: 5px 19px;
    padding-bottom: 15px;
  }

  &__toolbar {

    border-top: 3px solid $color_orange;
    padding: 10px 0;
    padding-right: 15px;
    display: flex;
    justify-content: flex-start;

    button {
      margin-left: 15px;
    }
  } 
}

.no_list_style{
  list-style: none;
  margin: 0;
  padding: 0;
}
