@import '_variables.scss';

body, html {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  @include font_headers_med;
}

button {
  @include green_button;
}
