$base_color_orange: #d65108;
$base_color_green: #34623f;
$base_color_brown: #34623f;

$color_black_transparent: rgba(10,15,10, .5);

$background_image: url('../assets/background-test.png');

$color_black: #101510;
$color_grey: #a4a4a4;
$color_white: #e4e4ee;
//$color_orange: #FF652F;
$color_orange: #d65108;
$color_yellow: #FFe400;
$color_green: #13a76b;
$color_red: #69140e;

$font_head: 'Cabin', sans-serif;

@mixin font_headers_reg {
  font-family: $font_head;
  font-weight: 400;
}

@mixin font_headers_med {
  font-family: $font_head;
  font-weight: 500;
}

@mixin font_text {
  font-family: 'Raleway', sans-serif;
}

@mixin green_button {
  border: none;
  border-radius: 0;
  padding: 8px 13px;
  color: #fff;
  background-color: $color_green;
  //border: 3px solid $color_green;
  font-size: 1.1em;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  @include font_headers_med;

  transition: color .2s ease, background-color .2s ease;

  &:hover {
    color: $color_green;
    background-color: $color_black;
  }
}
