@import './_variables.scss';

.App {
  background: url('../assets/background-test.png');
  min-height: 100vh;
  color: $color_grey;
  @include font_text;

  & > main {
    margin-top: 60px;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  text-align: center;
  @include font_headers_med; 
  background-color: $color_orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color_white;

  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 20;

  box-shadow: 10px 10px 10px #000;

  a {
    border: none;
    color: inherit;
    background: inherit;
    text-decoration: none;
    &:hover {
      border: none;
      color: inherit;
      background: inherit;
    }
  }
}

.App-link {
  color: #09d3ac;
}

.dummy_front_page {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  a {
    @include green_button;
    text-decoration: none;
  }
}

