@import './_variables.scss';
@import 'base/_card.scss';

.App {
  background: url('../assets/background-test.png');
  min-height: 100vh;
  height: 100vh;
  color: $color_grey;
  @include font_text;


  display: grid;
  grid-template-areas:
    "head"
    "content"
    "toolbar";

  grid-template-rows: 60px 1fr auto;
  grid-template-columns: 100%;

  & > main {
    overflow: auto;
  }
}

@keyframes reveal_toolbar {
  from { 
    opacity: 0;
    bottom: -200px; 
  }
  to { 
    opacity: 1;
    bottom: 0; 
  }
}

.toolbar {
  animation: reveal_toolbar .2s ease-in-out;
  @include card_shadow;
  background: $color_orange;
  padding: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  width: 100%;
  justify-content: center;

  a {
    @include card_shadow(darken( $color_green, 15% ));
    margin: 3px 10px;
  }

}

.App-logo {
  height: 40vmin;
}

.App-header {
  text-align: center;
  @include font_headers_med; 
  background-color: $color_orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: $color_white;

  width: 100vw;
  height: 60px;
  z-index: 20;

  box-shadow: 10px 10px 10px #000;

  a {
    border: none;
    color: inherit;
    background: inherit;
    text-decoration: none;
    &:hover {
      border: none;
      color: inherit;
      background: inherit;
    }
  }
}

.App-link {
  color: #09d3ac;
}

.dummy_front_page {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  a {
    @include green_button;
    text-decoration: none;
  }
}

