@import './_variables.scss';
@import 'base/_card.scss';

.multi_choice_activity {
  &__answers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__question {
    font-size: 1.1em;
    padding: 10px 0;
  }
}

.multi_choice_answer {
  width: 100%;
  flex: 1 1 45%;
  margin: 5px 10px;

  transition: transform .2s ease;

  &--choosen {
    cursor: default;
    span {
      display: inline-block;
      height: 100%;
      width: 30px;
    }

    transform: translate(2px, 2px);

    box-shadow: 
      inset 0 0 1px 1px rgba(255,255,255,0.1),
      inset 10px 10px 40px rgba(255,255,255,0.1) !important;
  }

  &--reveal {

    cursor: default;
    color: $color_white;
    background-color: $color_grey;

    @include card_shadow(darken( $color_grey, 15% ));

    &:hover {
      color: $color_white;
      background-color: $color_grey;
    }

    &_wrong {
      text-decoration: line-through;
    }
  }

  &--correct{
    &:hover {
      color: $color_white;
      background-color: $color_green;
    }
  }
  &--wrong{
    text-decoration: line-through;

    background-color: $color_red;
    @include card_shadow(darken( $color_red, 15% ));

    &:hover {
      color: $color_white;
      background-color: $color_red;
    }
  }
}
